
body {
  margin: 0 auto;
  display: block;
  padding-top: 100px;
}

.appwrapper {
 box-sizing: border-box;
  box-shadow: rgba(10, 10, 10, 0.16) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.containerbody {
  max-width: 900px;
  margin: 30px auto;
  display: block;
}
h1,
h2 {
  text-align: left;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  height: 48px;
  margin: 8px;
}
h2 {
  font-size: 18px;
  font-weight: 100;
  padding-left: 10px;
}
h3,
h5 {
  text-align: right;
  padding-right: 10px;
}
h4 {
  text-align: right;
  padding-right: 10px;
  margin: 0px;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
  height: 48px;
}
h4,
h5 {
  font-size: 18px;
  font-weight: 100;
}

.input-group {
  padding: 30px;
  padding-bottom: 0px;
}

.forcast {
  font-size: 20px;
  padding: 150px 15px 15px 0px;
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  size: 10px;
}

button {
  padding-left: 10px;
}

img {
  width: 15%;
}

#current-location {
  margin-left: 10px;
  margin-right: 0px;
  background-color: white;
  font-size: small;
}

footer {
  display: inline-block;
  text-align: left;
  size: small;
  padding-left: 50px;
}
