body {
  margin: 0 auto;
  display: block;
  padding-top: 100px;
  
}

.appwrapper {
  box-sizing: border-box;
  box-shadow: rgba(10, 10, 10, 0.16) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

.containerbody {
  max-width: 800px;
  margin: 30px auto;
  display: block;
}
h1,
h2 {
  text-align: left;
  color: #000;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  height: 48px;
  margin: 8px;
}
h2 {
  font-size: 18px;
  font-weight: 100;
  padding-left: 10px;
}
h3,
h5 {
  text-align: right;
  padding-right: 10px;
  color: #000;
}
h4 {
  text-align: right;
  padding-right: 10px;
  margin: 0px;
  color: #000;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
  height: 48px;
}
h4,
h5 {
  font-size: 18px;
  font-weight: 100;
}

.input-group {
  padding: 30px;
  padding-bottom: 0px;
}

.forecast {
  font-size: 20px;
  padding: 150px 15px 15px 0px;
  text-align: center;
  color: #000;
}

ul {
  text-align: center;
  list-style: none;
  size: 10px;
}

button {
  padding-left: 10px;
}

#icon {
  width: 15%;
}
.tempunits .units {
  text-decoration: none;
}
.tempunits .units:hover {
  text-decoration: underline;
}
.tempunits .active {
  text-decoration: none;
  cursor: default;
  color: black;
}
.tempunits .active:hover {
  text-decoration: none;
}
#current-location {
  margin-left: 10px;
  margin-right: 0px;
  background-color: white;
  font-size: small;
}

#forecast {
  text-align: center;
}

.forecast-dates {
  font-size: 24px;
}
.forecast-temps {
  font-size: 18px;
}
.forecast-temps-min {
  opacity: 0.6;
}
.card-footer {
  color: white;
}


